a {
    text-decoration: none;
    color:#1a0dab;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #1a0dab;
}

body {
    font-family: Arial, sans-serif;
}

#top-nav {
    display: flex;
    float: right;
    min-width: 182px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

#top-nav ul li {
    list-style-type:none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

#top-nav a, #top-nav a:visited {
    text-decoration: none;
    color: #333333;
    font-size: 13px;
}

#top-nav a:hover {
    text-decoration: underline;
}

#google-apps {
    display: inline-block;
    background-image: url('../img/google-icon-sheet.png');
    background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
}

#profile-picture {
    background-image: url('../img/dtphase-tiny-icon.jpg');
    height: 32px;
    width: 32px;
    display: inline-block;
    border-radius: 50%;
}

#google-logo {
    
}

#search {
    border-radius: 24px;
    height: 20px;
    width: 500px;
    padding: 10px;
    border: 1px solid #dfe1e5;
    display: block;
    margin-top: 15px;
    
}

#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: transparent;
}

#search input {
    width: 85%;
    border: none;
    float: left;
    margin-left: 8px;
    color: #111111;
}

#search-icon {
    margin-top: -4px;
    width: 32px;
    height: 32px;
    background-image: url('../img/search.svg');
    background-size: 32px 32px;
    opacity: 0.2;
    float: left;
}

#main {
    position: fixed;
    margin-top: 220px;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}

.google-button {
    margin-top: 45px;
    padding: 8px;
    border: 1px solid transparent;
    color: #5F6368;
    background-color: #f2f2f2;
    font-size: 14px;
}

.google-button:hover {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
    cursor: pointer;
}

#languages {
    margin-top: 28px;
    font-size: 12px;
}

footer { 
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    color: rgba(0,0,0,.54);
    background-color: #f2f2f2;
    font-size: 14px;
}

footer a:visited, footer a {
    color: rgba(0,0,0,.54);
}

#country, #external-links {
    padding: 15px;
    border-top: 1px solid #e4e4e4;
}

#external-links li {
    list-style-type:none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

#external-links ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#right-links {
    float: right;
    margin-bottom: 15px;
}

#left-links {
    float: left;
}