body {
    font-family: Arial, sans-serif;
}

#top-nav {
    display: flex;
    float: right;
    min-width: 182px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

#top-nav ul li {
    list-style-type:none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

#top-nav a, #top-nav a:visited {
    text-decoration: none;
    color: #333333;
    font-size: 13px;
}

#top-nav a:hover {
    text-decoration: underline;
}

#google-apps {
    display: inline-block;
    background-image: url('../img/google-icon-sheet.png');
    background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
}

#profile-picture {
    background-image: url('../img/dtphase-tiny-icon.jpg');
    height: 32px;
    width: 32px;
    display: inline-block;
    border-radius: 50%;
}

#google-logo {
    
}

#search {
    border-radius: 24px;
    height: 20px;
    width: 500px;
    padding: 10px;
    border: 1px solid #dfe1e5;
    display: block;
    margin-top: 15px;
    
}

#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: transparent;
}

#search input {
    width: 100%;
    border: none;
}

#main {
    position: fixed;
    margin-top: 220px;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}